<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <mat-tab-group>
        <mat-tab label="Recipes">
          <div class="margintop40"></div>
          <h2>Recipes Content</h2>
          <div class="margintop20"></div>
          <app-recipies></app-recipies>
        </mat-tab>
        <mat-tab label="Shopping list">
          <div class="margintop40"></div>
          <h2>Shopping list Content</h2>
          <div class="margintop20"></div>
          <app-shopping-list></app-shopping-list>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>