// Custom Custom Style
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,400i,500,600,700,800,900'); // Google Fonts
$material-icons-font-path: '~material-icons/iconfont/'; // Material Icons
@import '~material-icons/iconfont/material-icons.scss'; // Material Icons
@import "~@angular/material/prebuilt-themes/indigo-pink.css"; // Material Custom Theme
@import './scss/_spaces.scss', //spaces
        './scss/_variables.scss', //variables
        './scss/_type.scss', //type
        './scss/_mixins.scss', //mixins
        './scss/_colors.scss', //colors
        './scss/_helpers.scss', //helpers
        './scss/_fonts.scss', //fonts
        './scss/_material-custom-theme.scss'; //material-custom-theme


// General
html { height: 0; }
body{
  position: relative;
  margin: 0;
  font-size: 14px;
  line-height: 1.42857143;
  font-family: 'Raleway', sans-serif;
  // color: $secondary;
  // background-color: $tertiary;
  &::-webkit-scrollbar { width: 1.2em; }
  &::-webkit-scrollbar-thumb { 
    color: $gray6; background-color: $gray6; background-clip: content-box;
    border: 4px solid transparent; border-radius: 10px;
    outline: 1px solid $gray1; box-shadow: inset 0 0 0 10px;
    &:hover{ background-color: $gray5; color: $gray5; }
  }
  &::-webkit-scrollbar-track { box-shadow: inset 0 0 6px rgba(255,255,255,0.3); -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.3); }
  &::-webkit-scrollbar-corner { background-color: transparent; }
  &::-webkit-scrollbar-button { width: 0; height: 0; display: none; }
}
p{ margin-block-start: 0em; margin-block-end: 0em; }
label{&:focus { outline: -webkit-focus-ring-color auto 0px; }}